@model StudentMVC.ViewModels.StudentsListViewModel


@{
    ViewData["Title"] = "List";
}

<h1>@Model.CurrentGroup</h1>

@foreach (var student in Model.Students)
{
    <lable>Lop</lable>
    <h3>@student.Group.GroupName</h3>
    <lable>Name</lable>
    <h2>@student.Name</h2>
    <lable>History</lable>
    <h3>@student.History</h3>

    <img class="imgStudent" src="@student.UrlImage" alt="" />
    <hr />
}